$primary-color: #15a05c;
$background-app-back: #eaeaea;
$background-app-font: #fff;
$text-menu: #d2d3d5;
$background-menu-active: #efefef;
$title-color: #464646;
$background-room-active: #e0ead1;
$background-room-nonactive: #f2f2f2;
$border-color: #dedddd;
$button-color: #91d491;
$link-color: #6ea5cb;
