@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
* {
    box-sizing: border-box;
}
input,
button,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    outline: none;
    font-weight: normal;
    border: none;
}
button {
    cursor: pointer;
}
